<div>
    <form method="POST" action="/addTag">
        <input type="text" id="tag" name="tag" placeholder="tag">
        <input type="submit" id="add-tag" name="add-tag" value="Add Tag">
    </form>
</div>