<div>
    <form action='/' method='post'>
        <input id="url-box" type='text' name='url' placeholder='url'>
        <input id="tag-box" type='text' name='tag' placeholder='tag'>
        <input id="comment-box" type='text' name='comment' placeholder='comment'>
        <input id="add-button" type='submit' value='Add Bookmark'>
    </form>
</div>