<div>
<form action='/delete' method='post'>
    <select id="bookmark-dropdown" name='dropdown'>
        <% bookmarks.map ((bookmark,index) => { %>
            <option id='<%=`url${index + 1}`%>' value='<%= bookmark.url %>'>
                <%=`${bookmark.url}`%>
            </option>
        <% }) %>
    </select>
    <input id="delete-dropdown-button" type='submit' value='Delete Bookmark'>
</form>
</div>