<!DOCTYPE html>
<html>
<body>
    <h1>Update your bookmark!</h1>
    <div>
        <form action='/edit/update<%=id%>?_method=PUT' method='post'>
            <input id='update-bookmark' type='text' name='bookmarkName' placeholder='name'>
            <input id="update-button" type='submit' value='Update Bookmark'>
        </form>
    </div>

</body>
</html>